/* Colour Palette
Dark slate Gray: #2E5266
Light slate grey: #6E8898
Wild Blue: #9FB1BC
Light Gray: #D3D0CB
Meat Brown: #E2C044
Baby Powder: #FFFEF9
White: FFFDFC
*/
/*Global style
---------------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:0;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700
}
h1 {
    font-size: 60px;
}
#my-name{
  padding-top: 120px;
  color: white;
  margin: 0;
}
h2{
    font-size: 25px;
    font-weight: 700
}
h3{
    margin: 0;
}
    a {
    color: mediumblue;
}
.content-wrap {
    max-width:1200px;
    margin:0 auto;
    padding: 80px 60px;
    overflow: hidden;

}
.upper-case {
    text-transform: uppercase;
}
/*Download button*/
.button{
    text-decoration: none;
    background: #FFFEF9;
    color: black;
    padding:10px;
    display: inline-block;
}
p{
  font-size: 18px;
}
.quote{
  font-size: 24px;
  color: white;
}

.title{
  padding-top:10px;
  padding-bottom: 10px;
  font-size: 60px;
  text-align: center;
  letter-spacing: 30px;
  text-transform: uppercase;
  background-color: white;
  color:black;



}
.space{
  padding-bottom: 20px;
  background-color: red;
}

/*header and footer
---------------------------*/
header {
    background:white;
}
/* header */
.profileImg {
    border-radius: 50%;
    padding-right:50px;
    padding-left: 50px;

}
.download{
    position: absolute;
    bottom: 0;
    right:0;
}
header {
    padding-top: 80px;
    padding-bottom: 20PX;
    position: relative;

}
header h1, header h2{
    color: #FFFDFC;
    margin: 0;
}
h4{
  font-size: 40px;
  padding-top:20px;
  padding-bottom: 0px;
  margin: 0px;
}
.quote{
    font-style: italic;
}
/* footer */
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;

}

.contact{
  padding-top: 50px;
  position:inherit;
}
.contact h2{
  padding: 20px;
}

.contactInfo a {
    background: none;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    color:white;
    border-radius: 5%;

}
.contactInfo a:hover {
    text-decoration: underline;
}


/*Nav styles
----------------------------*/
nav{
    text-align: center;
    background:#ffffff;
    position:fixed;
    top:0;
    width: 100%;
    padding: 10px;
    background-color: black;
}
nav a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:700;
    color:white;
}
nav a:hover {
    text-decoration:underline;
}
/*ABout page
---------------------------*/
.about-box{
  background-color: #E2C044;
}




/*Education
---------------------------*/
.education-box{
  padding-top: 110px;
  padding-bottom:200px;
  background-color: #E2C044;
  text-align: center;
  margin: 0 auto;
}
h3 + p{
        margin-top: 20px;
    }

/*WORK
---------------------------*/
.work-box{
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #E2C044;
}
.content-wrap-slim {
    max-width:900px;
    margin:0 auto;
    padding: 60px 60px;
    overflow: hidden;

}
.bold{
  font-weight: bold;
}
.work-box .col-wide{
  padding-top: 40px;
}
.work-box .col-narrow{
  padding-top: 15px;
}
.work-box h3{
  text-decoration: underline;

}
/*contact
---------------------------*/
.contact-box{
  padding-top: 100px;
  padding-bottom:140px;
  background-color: #E2C044;
}
.contact-box h3{
  padding-top: 10px;
  padding-bottom:10px;
}
.contact-box a{
  color: white;
  font-size: 18px;
}
.contact-box .col-wide{
  padding-top:12px;
}
/*projects
---------------------------*/
.img-projects{
max-width:100%;
max-height:100%;
}
.tripp3r{
background-color: #E2C044;
color: white;
}
.hallmark{

}
.dexcels{
  background-color: #E2C044;
  color: white;
}
/*Showcase
---------------------------*/
.img-projects{
max-width:100%;
max-height:100%;
}
.showcase{
background-color: #E2C044;
color: white;
text-align: center;
}
.emphatise{

}
.research{
  background-color: #E2C044;
  color: white;
}
.define h4{
padding-bottom: 30px;
}
.emphatise h4{
padding-bottom: 30px;
}
.research h4{
padding-bottom: 30px;
}


/*Highlight current page
---------------------------*/
nav .current{
  text-decoration: underline;
}
/*Media Queries
---------------------------*/
@media (min-width: 750px){
    .col-narrow {
    width: 60%;
    float: left;
    }
    .col-wide {
    width: 40%;
    float:right;
    padding-left: 0px
    }
}
@media (max-width: 749px){
    header {
    text-align: center;
    }
        .profileImg {
        width: 140px;
        }

}
